/******************************************************
 * author: Mr. Pi <mrpi@mr-pi.de>
 * copyright: 2013 Mr. Pi
 *-----------------------------------------------------
 * main stylesheet for open source video chat
 ******************************************************/
body {
  background: #d0d0d0;
  margin: 0px;
  padding: 0px; }
  body header {
    background: #141414;
    color: #e5e5e5;
    display: block;
    padding: 3mm; }
    body header * {
      margin: 0px;
      padding: 0px; }
  body section {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    width: 100%; }
    body section article {
      box-flex: 1;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      width: 100%;
      margin: 3mm;
      border: thin solid #141414;
      padding: 3mm; }
      body section article hr {
        border: 0px;
        border-bottom: thin solid #141414;
        margin-left: -1.5mm;
        margin-right: -1.5mm; }
      body section article aside {
        margin-top: 1mm;
        margin-right: 5mm;
        text-align: right;
        font-style: italic;
        font-size: 75%;
        color: #777777; }
        body section article aside b {
          font-style: normal; }
      body section article#pomo_summary {
        width: 900px; }

a {
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  color: inherit;
  font-style: italic;
  border-bottom: thin solid rgba(30, 220, 0, 0); }
  a:active, a:focus, a:hover {
    border-bottom: thin solid blue; }

p {
  margin-bottom: 1em; }

/* video elements */
#videos {
  text-align: center; }

video {
  display: block; }

.vidTitle {
  display: block; }

.vidCon {
  border: thin gray solid;
  border-radius: 3mm;
  display: inline-block;
  overflow: hidden; }

/* counter */
.counter {
  margin: 1mm;
  height: 1.5em;
  background: gray;
  border: thin inset black;
  position: relative; }
  .counter div {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0.15em;
    padding-right: 1ex;
    padding-left: 1ex; }
    .counter div:nth-child(1) {
      padding: 0px;
      background: #300; }
    .counter div:nth-child(2) {
      text-align: left; }
    .counter div:nth-child(3) {
      text-align: center; }
    .counter div:nth-child(4) {
      text-align: right; }
    .counter div span {
      z-index: 9999;
      background: rgba(170, 170, 170, 0.55);
      color: #000;
      border-radius: 1ex;
      box-shadow: #aaa 0 0 0.4em;
      padding-right: 1ex;
      padding-left: 1ex; }
