/******************************************************
 * author: Mr. Pi <mrpi@mr-pi.de>
 * copyright: 2013 Mr. Pi
 *-----------------------------------------------------
 * main stylesheet for open source video chat
 ******************************************************/
body {
  background: #d0d0d0;
  margin: 0px;
  padding: 0px; }
  body a {
    outline: none;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    color: blue;
    font-style: italic;
    border-bottom: thin solid rgba(30, 220, 0, 0); }
    body a:active, body a:focus, body a:hover {
      border-bottom: thin solid blue; }
  body header {
    background: #141414;
    color: #e5e5e5;
    display: block;
    padding: 3mm; }
    body header * {
      margin: 0px;
      padding: 0px;
      color: inherit; }
    body header #logo {
      position: absolute;
      display: block;
      right: 5mm;
      top: 5mm;
      height: 1cm; }
  body section {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    width: 100%; }
    body section article {
      box-flex: 1;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      width: 100%;
      margin: 3mm;
      border: thin solid #141414;
      padding: 3mm; }
      body section article hr {
        border: 0px;
        border-bottom: thin solid #141414;
        margin-left: -1.5mm;
        margin-right: -1.5mm; }
      body section article aside {
        margin-top: 1mm;
        margin-right: 5mm;
        text-align: right;
        font-style: italic;
        font-size: 75%;
        color: #777777; }
        body section article aside b {
          font-style: normal; }
      body section article p {
        margin-bottom: 1em; }
      body section article a:visited {
        color: #ff6000; }

/* overview */
#pomo_summary {
  width: 900px; }
  #pomo_summary div {
    clear: both; }
    #pomo_summary div.fleft, #pomo_summary div.fright {
      clear: none;
      height: 8mm;
      margin: 1mm;
      margin-bottom: 0px;
      vertical-align: middle; }
      #pomo_summary div.fleft *, #pomo_summary div.fright * {
        vertical-align: middle;
        margin: auto; }
    #pomo_summary div.fleft {
      float: left; }
    #pomo_summary div.fright {
      float: right; }
    #pomo_summary div.user_list {
      margin: 0px;
      margin-left: 1mm;
      margin-right: 1mm;
      color: #686868;
      font-style: italic; }

/* chat window */
#chat {
  width: 100%; }
  #chat td input {
    width: 100%; }
  #chat td:first-child {
    text-align: right;
    font-style: italic;
    padding-right: 1ex;
    width: 20%; }
    #chat td:first-child input {
      border: inherit;
      background: inherit;
      color: inherit;
      font-style: inherit;
      text-align: inherit;
      outline: none; }
      #chat td:first-child input:active, #chat td:first-child input:focus {
        border-bottom: thin solid blue;
        text-align: left; }
      #chat td:first-child input:hover {
        border-bottom: thin solid blue; }

/* video elements */
#videos {
  text-align: center; }

.vidCon {
  border: thin gray solid;
  border-radius: 3mm;
  display: inline-block;
  overflow: hidden; }
  .vidCon video {
    display: block; }
  .vidCon .vidTitle {
    display: block; }

/* counter */
.counter {
  margin: 1mm;
  height: 1.5em;
  background: gray;
  border: thin inset black;
  position: relative; }
  .counter div {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0.15em;
    padding-right: 1ex;
    padding-left: 1ex; }
    .counter div:nth-child(1) {
      padding: 0px;
      background: #300; }
    .counter div:nth-child(2) {
      text-align: left; }
    .counter div:nth-child(3) {
      text-align: center; }
    .counter div:nth-child(4) {
      text-align: right; }
    .counter div span {
      z-index: 9999;
      background: rgba(170, 170, 170, 0.55);
      color: #000;
      border-radius: 1ex;
      box-shadow: #aaa 0 0 0.4em;
      padding-right: 1ex;
      padding-left: 1ex; }
